@media(max-width:620px) {
    .top-header{
        padding: 18px 0;
    }
    .top-header img{
        width: 60%;
        height: 60%;
    }
    .slider-characters{
        padding: 0 15px;
        gap: 10px;
    }
    .imagem-btn{
        width: 20px;
        height: 20px;
    }
    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }
    .lista-personagens{
        height: 480px;
    }

}